@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~normalize.css/normalize.css';
@import '_variables.scss';
@import 'forms.scss';
@import 'buttons.scss';
@import 'contact-list.scss';
@import 'animations.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  color: $body-color;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

header > h1 {
  font-size: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 20px;
}

.search-field {
  padding: 5px;
  height: 30px;
  margin-right: 10px;
  border: thin solid rgba(0,0,0,0.5);
  border-radius: 3px;
}

.delete-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.delete-button-row {
  display: flex;
}

.contact-success-notification {
  width: 80%;
  padding: 10px;
  color: $green;
  background-color: lighten($green, 50%);
  border: thin solid $green;
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {

  header > h1 {
    font-size: 2em;
  }
  .wrapper {
    width: 700px;
  }
}