.create-contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  width: 100%;
  padding: 10px;
}

.form-button-row {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}

.custom-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

.custom-select > div:first-child {
  display: flex;
  justify-content: flex-start;
  border-bottom: thin solid #5a6268;
}

.custom-select-label {
  position: relative;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border-right: thin solid #5a6268;
}

.custom-select-label-list {
  position: absolute;
  left: 0;
  bottom: -1;
  width: 100px;
  background: whitesmoke;
  margin-top: 5px;
}

.custom-select-label-list li {
  list-style: none;
  padding: 5px 15px;
}

.custom-select-label-list li:hover {
  background: darken(whitesmoke, 5%);
}

.custom-select-active {
  color: $blue;
}

.custom-select input {
  border: none;
  padding: 0 10px;
  overflow: hidden;
}

.custom-select-done {
  margin-left: 10px;
  cursor: pointer;
  color: $blue;
}


.form-phone-number-list {
  list-style: none;
  margin-bottom: 20px;
}

.form-phone-number-list li {
  padding: 5px;
}

.form-phone-number-list li span {
  font-weight: bold;
  color: $pink;
}

.no-phone-numbers {
  color: $pink;
}

.validation-errors li {
  list-style: none;
  padding: 2px;
  color: $red;
}



